.choose-looks{
  background-color: #E1E3E9;
  padding-top: 120px;
  .carousell{
    width: 90%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 40px;
    h2{
      font-size: 55px;
      font-family: Oswald-Medium;
      margin: 0;
      font-weight: 400;
    }
  }
}