body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(Fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Oswald-Medium;
  src: url(Fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: freefatfont-regular;
  src: url(Fonts/freefatfont-regular.otf);
}
@font-face {
  font-family: freefatfont-slanted;
  src: url(Fonts/freefatfont-slanted.otf);
}
